#contato {
    width: 100%;
    padding: 2rem 0;
}

#contato h2 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--colorBlue);
    margin-bottom: 2rem;
}

#contato .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#contato .contato .formContato {
    width: 100%;
    max-width: 500px;
}

#contato .contato .formContato form .field label {
    display: block;
    color: var(--colorWhite);
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
}

#contato .contato .formContato form .field input,
#contato .contato .formContato form .field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: var(--colorDark3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--colorWhite);
    margin-bottom: 1rem;
}

#contato .contato .formContato form .send {
    text-align: center;
}

#contato .contato .formContato form .send input {
    padding: 10px 2rem;
    background: var(--colorDark3);
    color: var(--colorWhite);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#contato .contato .socialContato {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

#contato .contato .socialContato a {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: var(--colorBlue);
    color: var(--colorWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

#contato .contato .socialContato a:hover {
    color: var(--colorDark);
}

#contato .contato .socialContato a i {
    font-size: 1.2rem;
}


.copy {
    width: 100%;
    padding: 1rem 0;
    background: var(--colorDark3);
}

.copy p {
    color: var(--colorWhite);
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.copy p span {
    color: var(--colorBlue);
}

/* 
.formContato.hidden {
    transform: translateX(100%);
}

.formContato.show {
    transform: translateX(0);
} */


@media (max-width: 425px) {
    #contato h2 {
        font-size: 1.7rem;
    }

    #contato .contato .formContato form .field label {
        font-size: 0.9rem;
    }

    #contato .contato .formContato form .send input {
        font-size: 0.9rem;
    }

    #contato .contato .socialContato a {
        width: 37px;
        height: 37px;
    }

    #contato .contato .socialContato a i {
        font-size: 1rem;
    }

    .copy p {
        font-size: 0.8rem;
    }
}