* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --colorGray: #aaa;
  --colorWhite: #f8f8ff;
  --colorBlack: #262626;
  --colorBlackTwo: #010409;
  --colorBlackThree: #303030;
  --colorRed: #ff0000;
  --colorBlue: #0072ff;
  --linearGradientOne: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}

body {
  position: relative;
  width: 100%;
  background: var(--colorWhite);
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--linearGradientOne);
  border-radius: 6px;
}

.items {
  display: none;
}

.items.show {
  display: block;
}

.actions.active {
  border-bottom: 2px solid var(--colorBlack);
}

.hidden {
  display: none;
}

.dark,
.dark header {
  background: var(--colorBlackTwo);
}

.dark .actions.active {
  border-color: var(--colorWhite);
}
