.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.conteiner div {
    width: 100%;
    max-width: 500px;
    background: var(--colorDark3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.conteiner div h1 {
    color: var(--colorWhite);
    font-size: 2rem;
    font-weight: 700;
}

.conteiner div p {
    color: var(--colorWhite);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.conteiner div a {
    display: block;
    margin-top: 1rem;
    color: var(--colorWhite);
    font-size: 1rem;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}

.conteiner div a:hover {
    color: var(--colorBlue);
}